{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VagtPlan {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/header.css' %}"/>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <logo>
            Vagtplan
        </logo>
        <nav>
            <div class = "navitem">
                <a href="/">Schedule</a>
            </div>
            <div class = "navitem">
                <a href="/supers">Super</a>
            </div>
            <div class = "navitem">
                <a href="/">Admin</a>
            </div>
        </nav>
        <userinfo>
            userinfo
        </userinfo>
    </header>
    {% block content %}{% endblock %}
    <footer>

    </footer>
</body>
</html>