{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VagtPlan {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/header.css' %}"/>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <logo>
            Vagtplan
        </logo>
        <nav>
            <div class = "navitem">
                <a href="/">Schedule</a>
            </div>
            <div class = "navitem">
                <a href="/about_supers">Super</a>
            </div>
            {% if member.is_super %}
            <div class = "navitem">
                <a href="/super">Admin</a>
            </div>
            {% endif %}
        </nav>
        <div class="dropdown">
            {{ member.name }}
            <div class="dropdown-content">
                <form action="/logout" method="GET">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>
