{% extends 'website/admin_base.html' %}
{% load static %}

{% block title %} Create User {% endblock %}

{% block admin_styles %}
    <link rel="stylesheet" href="{% static 'website/create_base.css' %}" />
{% endblock %}

{% block admin_content %}


<div class="cont">
    <h2>Create User</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="inputs">
            <label for="name">Name:</label>
            <input type="text" placeholder="Enter Name" name="name" required>

            <label for="email">Email:</label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" placeholder="Enter password" name="password" required>

            <label for="phone_number">phone number:</label>
            <input type="text" placeholder="Enter phone number" name="phone_number" required>

           
        </div>
        <div class="group-types-container">
            <p>Group Types</p> 

            <div class="group-types">
                <label for="cleaning">Cleaning</label> 
                <input type="checkbox" name="cleaning">
                <label for="sales">Sales</label> 
                <input type="checkbox" name="sales">
                <label for="Facility_Service">Facility Service</label> 
                <input type="checkbox" name="facility_service">
                <label for="pr">Pr</label> 
                <input type="checkbox" name="pr">
                <label for="technical">Technical</label> 
                <input type="checkbox" name="technical">
            </div>
        </div>
        <button type="submit">Create user</button>
    </form>
</div>


{% endblock %}