{% extends 'website/admin_base.html' %}
{% load static %}

{% block title %} Create Show {% endblock %}

{% block admin_styles %}
    <link rel="stylesheet" href="{% static 'website/create_base.css' %}" />
{% endblock %}

{% block admin_content %}
<div class="cont">
    <h2>Create Show</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="inputs">
            <label for="name">Title:</label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="show-type">Show Type:</label>
            <select name="show-type">
                <option value="no-value" disabled selected>Select Show Type</option>
                <option value="movie">Movie</option>
                <option value="premiere">Premiere</option>
                <option value="event">Event</option>
            </select>
            
            <label for="start-datetime">Start Date and Time:</label>
            <input type="datetime-local" name="start-datetime" required>

            <label for="end-datetime">End Date and Time:</label>
            <input type="datetime-local" name="end-datetime" required>
        </div>

        <button type="submit">Create show</button>
    </form>
</div>

{% endblock %}
