{% extends 'website/admin_base.html' %}
{% load static %}

{% block title %} Create User {% endblock %}

{% block admin_styles %}
    <link rel="stylesheet" href="{% static 'website/create_user.css' %}" />
{% endblock %}

{% block admin_content %}
<h2>Create user page</h2>

<div class="sign_up">
    <label for="name">Name</label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <label for="password">Email</label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password">Password</label>
    <input type="text" placeholder="Enter password" name="password" required>

    <label for="phone_number">phone number</label>
    <input type="text" placeholder="Enter phone_number" name="phone_number" required>

    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
    </div>
</div>


{% endblock %}