{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VagtPlan Login</title>
    <link rel="stylesheet" href="{% static 'website/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/login.css' %}"/>
</head>
<body>
    <main>
        <h1 class = "headline"> Welcome to Your Online VagtPlan </h1>
         <form action="" method="POST" class="container">
            {% csrf_token %}
            <div class = "info">
            <label for="username">E-Mail</label>    
            <input type="text" placeholder="Enter E-Mail" name="username" required>
            </div>
            <div class = "info">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
