{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VagtPlan Login</title>
    <link rel="stylesheet" href="{% static 'website/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/login.css' %}"/>
</head>
<body>
    <main>
        <h1 class = "headline"> Welcome to Your online VagtPlan </h1>
         <form action="/process_login" method="post" class="container">
        <!-- <form action="{% url 'process_login' %}" method="post" class="container"> -->
            {% csrf_token %}
            <div class = "info">
            <label for="uname"><b>Username</b> </label>    
            <input type="text" placeholder="Enter Username" name="uname" required>
            </div>
            <div class = "info">
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
