{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VagtPlan Schedule</title>
    <link rel="stylesheet" href="{% static 'website/schedule.css' %}"
</head>
<body>
    <ul>
        {% for i in arr %}
            <li>{{ i }}</li>
        {% endfor %}
        {% for shift_or_show in shifts_and_shows %}
        <div class="schedule-item">
            <p class="schedule-item-type">Shift</p>
            <p>shift.title</p>
        </div>
    </ul>
    <p>hello world</p>
</body>
</html>
