{% extends 'website/base.html' %}
{% load static %}

{% block title %} Schedule {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/schedule.css' %}" />
{% endblock %}

{% block content %}
    <div id="schedule-container">
        {% for is_shift, shift_or_show in shifts_and_shows %}
        {% if shift_or_show.new_date != None %}
        <div class="schedule-item schedule-item-date">
            <p>{{ shift_or_show.new_date }}</p>
        </div>
        {% endif %}
        <div class="schedule-item {% if is_shift %}
            schedule-item-shift {% if shift_or_show.booked_members_count >= shift_or_show.member_capacity %}schedule-item-shift-full{% endif %}
            {% else %}
            schedule-item-show
            {% endif %}">
            <p class="schedule-item-type">
                {% if is_shift %}
                    Shift
                {% else %}
                    Show
                {% endif %}
                : 
                {{ shift_or_show.start_date_hour_min }}
                -
                {{ shift_or_show.end_date_hour_min }}
            </p>
            <p class="schedule-item-title">
                {% if is_shift %}
                    {{ shift_or_show.group.name }} - {{ shift_or_show.booked_members_count }}/{{ shift_or_show.member_capacity }}
                {% else %}
                    {{ shift_or_show.title }}
                {% endif %}
            </p>
            {% if shift_or_show.is_bookable %}
            <form method="GET" action="/book-shift">
                <input type="hidden" name="shift-id" value="{{ shift_or_show.id }}" />
                <button type="submit">Book</button>
            </form>
            {% endif %}
            {% if shift_or_show.is_cancellable %}
            <form method="GET" action="/cancel-shift">
                <input type="hidden" name="shift-id" value="{{ shift_or_show.id }}" />
                <button type="submit">Cancel</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
