{% extends 'website/admin_base.html' %}
{% load static %}

{% block title %} Admin {% endblock %}

{% block admin_styles %}
    <link rel="stylesheet" href="{% static 'website/super.css' %}" />
{% endblock %}

{% block admin_content %}
<h2>Probably make this page the list users, then make new pages for create user/show</h2>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati iure facere nemo est veniam deleniti accusantium vel sed, accusamus odio corporis sequi repellendus, incidunt aliquam soluta harum eligendi! Nostrum, nemo?

{% endblock %}