nav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

logo {
    color: var(--yellow);
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--bg1);
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 0;
}

.dropdown {
    display: relative;
    margin-left: auto;
    float: left;
    overflow: hidden;
  }


.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    color: inherit;
    min-width: 100px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a {
    text-decoration: none; /* Remove default underline */
    color: var(--text);
    transition: color 0.2s; 
}

nav a:hover {
    color: var(--orange);
}

.navitem {
    align-self: flex-start;
}
