input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: var(--text);
    background-color: var(--bg);
    border: none;
    border-bottom: 1px solid var(--gray);
    transition: border-bottom 0.2s;
    box-sizing: border-box;
  }

input[type=text]:hover , input[type=password]:hover {
    border-color: var(--text);
}

.container {
    display:grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 16px;
    border: 3px solid var(--gray);
    width: 50vw;
    border-radius: 5px;
  }

.headline {
    font-size: 4rem;
    margin: 0;
}

button {
    margin: auto;
}

label {
    font-size: 1.5rem;
}

.info {
    display:grid;
    grid-template-columns: 1fr;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    gap: 0px;
    min-height: 100vh;
    place-items: center;
    align-content: center;
}
