:root {
    --bg: #282828;
    --bg1: #1d2021;
    --text: #eddbb2; 
    --orange: #d65d0e; 
    --green: #98971a;
    --blue: #458588;
    --red: #cc241d;
    --gray: #a89984;
    --yellow: #d79921;
    --aqua: #689d6a;
}

html,body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    min-height: 100vh; 
    flex-flow: column nowrap;
}

main {
    flex-grow: 10;
}

button {
    display: relative;
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--bg);
    color: var(--text);
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
    overflow: none;
}

button:hover {
    color: var(--text);
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
